@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
/* --- Generic Styles --- */
html, body, .offset {
  height: 100%; }

.offset, .default, .page, .blog {
  display: inline-block;
  vertical-align: middle; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.42857;
  -webkit-transition: background-color 0.6s ease, color 0.6s ease;
          transition: background-color 0.6s ease, color 0.6s ease; }
  body.dark {
    background-color: #282828;
    color: #e4e4e4; }
  body.light {
    background-color: #e4e4e4;
    color: #282828; }

::-moz-selection {
  background: #e54c72;
  color: #fff; }

::selection {
  background: #e54c72;
  color: #fff; }

a {
  color: #e54c72; }
  a:hover, a:focus {
    color: #aa1137; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1; }

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative; }
  .video-container iframe, .video-container object, .video-container embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }

.modal {
  color: #333; }

/* --- Default Layout --- */
.default {
  margin-bottom: 30px;
  padding-bottom: 40px; }
  .default h1 {
    font-size: 96px; }
  .default h2 {
    font-size: 36px; }

.links {
  margin-top: 30px; }
  .links a {
    background: #282828;
    border: 1px solid #111;
    border-color: rgba(17, 17, 17, 0.7);
    -webkit-border-radius: 35px;
            border-radius: 35px;
    -webkit-box-sizing: initial;
       -moz-box-sizing: initial;
            box-sizing: initial;
    display: inline-block;
    height: 26px;
    margin: 0 3px;
    padding: 16px;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease;
    width: 26px; }
    .links a:hover, .links a:focus {
      background: #e54c72;
      outline: none; }
    .links a.github:hover, .links a.github:focus {
      background: #52386d; }
    .links a.not-ready:hover, .links a.not-ready:focus {
      background: #FF1919; }
    .links a.skype:hover, .links a.skype:focus {
      background: #0078ca; }
    .links a.steam:hover, .links a.steam:focus {
      background: #4c6b22; }
    .links a.twitter:hover, .links a.twitter:focus {
      background: #00aced; }
    .links a.youtube:hover, .links a.youtube:focus {
      background: #cc181e; }

/* --- Page Layout --- */
.page {
  text-align: left; }
  .page h1 {
    font-size: 96px; }
  .page h2 {
    font-size: 38.5px; }
  .page h3 {
    font-size: 17.5px; }

.thumbnail {
  color: #333;
  font-size: 12px; }

/* --- Footer --- */
/* --- Bootstrap Override --- */
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

.img-thumbnail {
  -webkit-border-radius: 0;
          border-radius: 0; }

a .img-thumbnail {
  border: 1px solid #ddd;
  -webkit-transition: border 0.6s ease-in-out;
  transition: border 0.6s ease-in-out; }
  a .img-thumbnail:hover, a .img-thumbnail:focus {
    border: 1px solid #e54c72; }

.btn-primary {
  background-color: #e54c72;
  border-color: #e54c72; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #aa1137;
    border-color: #aa1137; }

.tooltip.bottom {
  padding: 0; }
  .tooltip.bottom .tooltip-arrow {
    display: none; }

.tooltip-inner {
  background-color: transparent;
  color: #e4e4e4; }
