.pinned-repo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pinned-repo-desc {
    flex: 1 0 auto;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.story-grid {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.story {
    border: 2px solid var(--app-highlight-color);
    height: 340px;
    margin: 0 10px 60px 10px;
    width: 297px;

    .story-content {
        padding: 20px 15px;
        position: relative;

        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            margin-bottom: 0;
            margin-top: 0;

            a {
                color: var(--app-text-color);
            }
        }

        p {
            margin-bottom: 1em;
            margin-top: 1em;
        }

        .story-links {
            a {
                display: inline-block;
                font-weight: 500;
                margin-right: 2rem;
            }
        }
    }

    .story-image {
        width: 100%;

        .img-responsive {
            max-width: 100%;
        }
    }
}
