// Fonts.
$icon-font-path: 		"../fonts/Bootstrap/" !default;
$icomoon-font-path:		"../fonts/IcoMoon/" !default;
$OpenSansPath: 			"../fonts/OpenSans" !default;

// Media Query sizes.
$large: 	1200px;
$medium: 	 660px;
$small: 	 350px;