/.idea
/.vscode
/node_modules
/public/build
/public/downloads
/public/files
/public/img/web/*.jpg
/public/json
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log
yarn-error.log
