/node_modules
/public/build
/public/css
/public/downloads
/public/files
/public/fonts
/public/hot
/public/img/web
/public/json
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
Thumbs.db
