/node_modules
/public/build
/public/css
/public/downloads
/public/files
/public/fonts
/public/hot
/public/img/web/*.jpg
/public/json
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
docker-compose.override.yml
npm-debug.log
yarn-error.log
