// Fonts.
$icon-font-path: "/fonts/vendor/bootstrap-sass/bootstrap/";
$OpenSansPath: "/fonts/vendor/open-sans-fontface/";

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
