.btn {
    border-radius: 0;
    transition: background-color .6s ease, border-color .6s ease, color .6s ease;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: $app-primary;
    color: $app-primary;

    &:hover,
    &:focus {
        background-color: rgba(229, 76, 114, 0.15);
        color: $app-primary;
    }
}
