.btn {
    border-radius: 0;
    transition: background-color .6s ease, border-color .6s ease, color .6s ease;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: var(--color-app-primary);
    color: var(--color-app-primary);

    &:hover,
    &:focus {
        background-color: var(--color-app-primary-hover);
        color: var(--color-app-primary);
    }
}
