footer {
    color: var(--app-text-secondary-color);
    margin-top: 10px;

    .footer-content {
        border-top: 4px solid var(--app-text-secondary-color);
        font-size: 13px;
        padding: 10px 0;

        @media screen and (max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    .social-list {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-align: right;

        & > li {
            display: inline-block;

            & > a {
                color: var(--app-text-secondary-color);
                display: block;
                font-size: 24px;
                line-height: 1;
                padding: 10px;
                transition: color .6s ease;

                &.link-primary {
                    &:hover,
                    &:focus {
                        color: $app-primary;
                    }
                }

                &.link-discord {
                    &:hover,
                    &:focus {
                        color: $c-discord;
                    }
                }

                &.link-facebook {
                    &:hover,
                    &:focus {
                        color: $c-facebook;
                    }
                }

                &.link-github {
                    &:hover,
                    &:focus {
                        color: $c-github;
                    }
                }

                &.link-linkedin {
                    &:hover,
                    &:focus {
                        color: $c-linkedin;
                    }
                }

                &.link-skype {
                    &:hover,
                    &:focus {
                        color: $c-skype;
                    }
                }

                &.link-steam {
                    &:hover,
                    &:focus {
                        color: $c-steam;
                    }
                }

                &.link-twitch {
                    &:hover,
                    &:focus {
                        color: $c-twitch;
                    }
                }

                &.link-twitter {
                    &:hover,
                    &:focus {
                        color: $c-twitter;
                    }
                }

                &.link-youtube {
                    &:hover,
                    &:focus {
                        color: $c-youtube;
                    }
                }

                @media screen and (max-width: $screen-xs-max) {
                    padding: 0 10px;
                }

                @media screen and (max-width: 374px) {
                    font-size: 18px;
                }
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
