header {
    padding: 12px 0;

    .logo-sortof {
        color: var(--app-text-color);
        display: block;
        font-size: 26px;
        line-height: 1;
        text-decoration: none;
        transition: color .6s ease;

        &:hover {
            color: $app-primary;
        }
    }
}

nav {
    border-color: var(--app-text-secondary-color);

    .header-nav {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;

        & > li {
            border-bottom: 4px solid var(--app-text-secondary-color);
            float: left;
            text-align: center;
            transition: border-color .6s ease;
            width: 50%;

            &:hover,
            &:focus {
                border-color: $app-primary;

                & > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $app-primary;
                    }
                }
            }

            &.active {
                border-color: $app-primary;

                & > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $app-primary;
                    }
                }
            }

            & > a {
                color: var(--app-text-secondary-color);
                display: block;
                font-size: 16px;
                font-weight: bold;
                line-height: 1;
                padding: 14px 10px 11px 10px;
                text-decoration: none;
                transition: color .6s ease;

                &:hover,
                &:focus {
                    color: $app-primary;
                }

                .fa {
                    display: inline-block;
                    margin-right: 10px;
                    width: 16px;

                    @media screen and (max-width: $screen-xs-max) {
                        display: inline;
                        margin: 0;
                    }
                }

                .nav-text {
                    display: inline-block;

                    @media screen and (max-width: $screen-xs-max) {
                        display: none;
                    }
                }

                @media screen and (max-width: $screen-xs-max) {
                    font-size: 21px;
                }
            }
        }
    }
}

.style-chooser {
    height: 26px;
    text-align: right;

    a {
        border-radius: 35px;
        box-sizing: initial;
        display: inline-block;
        height: 24px;
        margin: 0 3px;
        opacity: 0.5;
        transition: opacity .6s ease;
        width: 24px;

        &:hover, &:focus {
            outline: none;
            opacity: 1;
        }
    }

    .choose-dark {
        background: $app-dark-bg;
        border: 1px solid $app-dark-text-secondary;
    }

    .choose-light {
        background: $app-light-bg;
        border: 1px solid $app-light-text-secondary;
    }
}
