// Fonts.
$icon-font-path: 		"../../fonts/bootstrap/" !default;
$icomoon-font-path:		"../../fonts/icomoon/" !default;
$OpenSansPath: 			"../../fonts/open-sans" !default;

// Media Query sizes.
$large: 	1200px;
$medium: 	 660px;
$small: 	 350px;
