//
// Variables
// =============================

// Colors
// -----------------------------
// App colors.
$app-dark:                      #1b1b1b;
$app-light:                     #e4e4e4;

$app-primary:                   #e54c72;

// Social Media colors.
$c-facebook:                    #3b5998;
$c-github:                      #52386d;
$c-skype:                       #0078ca;
$c-steam:                       #3c6f98;
$c-twitch:                      #6441a5;
$c-twitter:                     #00aced;
$c-youtube:                     #cc181e;

// Fonts Paths
// -----------------------------
$icon-font-path:                "../../fonts/bootstrap/" !default;
$fa-font-path:                  "../../fonts/fontawesome" !default;
$OpenSansPath:                  "../../fonts/open-sans" !default;
