body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color .6s ease, color .6s ease;

    // Dark Color Scheme.
    &.dark {
        background-color: $app-dark-bg;
        color: $app-dark-text;

        header {
            .logo-sortof {
                color: $app-dark-text;

                &:hover {
                    color: $app-primary;
                }
            }
        }

        nav {
            border-color: $app-dark-text-secondary;

            .header-nav {
                & > li {
                    border-color: $app-dark-text-secondary;

                    & > a {
                        color: $app-dark-text-secondary;

                        &:hover,
                        &:focus {
                            color: $app-primary;
                        }
                    }

                    &:hover,
                    &:focus {
                        border-color: $app-primary;

                        & > a {
                            &,
                            &:hover,
                            &:focus {
                                color: $app-primary;
                            }
                        }
                    }

                    &.active {
                        border-color: $app-primary;

                        & > a {
                            &,
                            &:hover,
                            &:focus {
                                color: $app-primary;
                            }
                        }
                    }
                }
            }
        }

        .page-header {
            h2 {
                color: $app-dark-text-secondary;
            }
        }

        .line-header {
            &::before {
                background-color: $app-dark-text-secondary;
            }

            span {
                background-color: $app-dark-bg;
                color: $app-dark-text;
            }
        }

        .img-thumbnail {
            background-color: $app-dark-highlight;
            border-color: $app-dark-highlight;

            &:hover,
            &:focus {
                background-color: $app-primary;
                border-color: $app-primary;
            }
        }

        .table {
            & > thead > tr > th {
                border-bottom: 2px solid $app-dark-text-secondary;
            }

            & > thead > tr > th,
            & > thead > tr > td,
            & > tbody > tr > th,
            & > tbody > tr > td,
            & > tfoot > tr > th,
            & > tfoot > tr > td {
                border-top: 1px solid $app-dark-text-secondary
            }
        }

        .game-project {
            background-color: $app-dark-highlight;
            color: $app-dark-text-secondary;

            h4 {
                color: $app-dark-text;
            }

            hr {
                border-top: 1px solid $app-dark-text-secondary;
            }
        }

        footer {
            color: $app-dark-text-secondary;
        }

        .footer-content {
            border-color: $app-dark-text-secondary;
        }

        .social-list {
            & > li {
                & > a {
                    color: $app-dark-text-secondary;
                }
            }
        }
    }

    // Light Color Scheme.
    &.light {
        background-color: $app-light-bg;
        color: $app-light-text;

        header {
            .logo-sortof {
                color: $app-light-text;

                &:hover {
                    color: $app-primary;
                }
            }
        }

        nav {
            border-color: $app-light-text-secondary;

            .header-nav {
                & > li {
                    border-color: $app-light-text-secondary;

                    & > a {
                        color: $app-light-text-secondary;

                        &:hover,
                        &:focus {
                            color: $app-primary;
                        }
                    }

                    &:hover,
                    &:focus {
                        border-color: $app-primary;

                        & > a {
                            &,
                            &:hover,
                            &:focus {
                                color: $app-primary;
                            }
                        }
                    }

                    &.active {
                        border-color: $app-primary;

                        & > a {
                            &,
                            &:hover,
                            &:focus {
                                color: $app-primary;
                            }
                        }
                    }
                }
            }
        }

        .page-header {
            h2 {
                color: $app-light-text-secondary;
            }
        }

        .line-header {
            &::before {
                background-color: $app-light-text-secondary;
            }

            span {
                background-color: $app-light-bg;
                color: $app-light-text;
            }
        }

        .img-thumbnail {
            background-color: $app-light-highlight;
            border-color: $app-light-highlight;

            &:hover,
            &:focus {
                background-color: $app-primary;
                border-color: $app-primary;
            }
        }

        .table {
            & > thead > tr > th {
                border-bottom: 2px solid $app-light-text-secondary;
            }

            & > thead > tr > th,
            & > thead > tr > td,
            & > tbody > tr > th,
            & > tbody > tr > td,
            & > tfoot > tr > th,
            & > tfoot > tr > td {
                border-top: 1px solid $app-light-text-secondary;
            }
        }

        .game-project {
            background-color: $app-light-highlight;
            color: $app-light-text-secondary;

            h4 {
                color: $app-light-text;
            }

            hr {
                border-top: 1px solid $app-light-text-secondary;
            }
        }

        footer {
            color: $app-light-text-secondary;
        }

        .footer-content {
            border-color: $app-light-text-secondary;
        }

        .social-list {
            & > li {
                & > a {
                    color: $app-light-text-secondary;
                }
            }
        }
    }
}

::selection {
    background: $app-primary;
    color: white;
}

a {
    color: $app-primary;

    &:hover,
    &:focus
    {
        color: darken($app-primary, 15%);
        text-decoration: none;
    }
}

.current-activities {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    & > li {
        margin-bottom: 10px;

        span {
            display: inline-block;
            font-size: 24px;
            padding: 7px 15px 7px 0;
            vertical-align: top;
            width: 40px;
        }

        .activity {
            display: inline-block;

            strong {
                display: block;
            }

            em {
                display: block;
            }
        }
    }
}

.flash-message {
    .alert {
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: none;
    }
}

.form-control {
    border-radius: 0;
}

.game-project {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    min-height: 248px;
    padding: 4px;

    .btn {
        display: block;
    }
}

.img-thumbnail {
    border-radius: 0;
    transition: background-color .6s ease, border-color .6s ease;
}

.label {
    background-color: $app-primary;
    border-radius: 0;
}

.line-header {
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        top: 19px;
        transition: background-color .6s ease;
        width: 100%;
    }

    span {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        padding: 0 10px 0 0;
        position: relative;
        transition: background-color .6s ease, color .6s ease;
        z-index: 1;
    }
}

.modal {
    color: #333;
}

.page-header {
    border: none;
    margin: 0;
    padding: 0;

    h1 {
        font-size: 36px;

        @media screen and (min-width: $screen-sm-min) {
            font-size: 48px;
        }
    }

    h2 {
        font-size: 18px;

        @media screen and (min-width: $screen-sm-min) {
            font-size: 30px;
        }
    }
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    iframe, object, embed {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

.web-project {
    p {
        font-size: 12px;
    }
}
