body
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color .6s ease, color .6s ease;

    // Dark Color Scheme.
    &.dark
    {
        background-color: $app-dark;
        color: $app-light;

        header
        {
            .logo-sortof
            {
                color: $app-light;

                &:hover
                {
                    color: $app-primary;
                }
            }
        }

        nav
        {
            border-color: $app-light;

            .header-nav
            {
                & > li
                {
                    border-color: $app-light;

                    &:hover
                    {
                        border-color: $app-primary;
                    }

                    &.active
                    {
                        border-color: $app-primary;
                    }
                }
            }
        }

        .line-header
        {
            &::before
            {
                background-color: $app-light;
            }

            span
            {
                background-color: $app-dark;
                color: $app-light;
            }
        }

        .img-thumbnail
        {
            background-color: $app-light;
            border-color: $app-light;

            &:hover,
            &:focus
            {
                background-color: $app-primary;
                border-color: $app-primary;
            }
        }

        .social-list
        {
            & > li
            {
                & > a
                {
                    color: $app-light;
                }
            }
        }
    }

    // Light Color Scheme.
    &.light
    {
        background-color: $app-light;
        color: $app-dark;

        header
        {
            .logo-sortof
            {
                color: $app-dark;

                &:hover
                {
                    color: $app-primary;
                }

            }
        }

        nav
        {
            border-color: $app-dark;

            .header-nav
            {
                & > li
                {
                    border-color: $app-dark;

                    &:hover
                    {
                        border-color: $app-primary;
                    }

                    &.active
                    {
                        border-color: $app-primary;
                    }
                }
            }
        }

        .line-header
        {
            &::before
            {
                background-color: $app-dark;
            }

            span
            {
                background-color: $app-light;
                color: $app-dark;
            }
        }

        .img-thumbnail
        {
            background-color: $app-dark;
            border-color: $app-dark;

            &:hover,
            &:focus
            {
                background-color: $app-primary;
                border-color: $app-primary;
            }
        }

        .social-list
        {
            & > li
            {
                & > a
                {
                    color: $app-dark;
                }
            }
        }
    }
}

::selection
{
    background: $app-primary;
    color: white;
}

a
{
    color: $app-primary;

    &:hover,
    &:focus
    {
        color: darken($app-primary, 15%);
        text-decoration: none;
    }
}

.current-activities
{
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    & > li
    {
        margin-bottom: 10px;

        span
        {
            display: inline-block;
            font-size: 24px;
            padding: 7px 15px 7px 0;
            vertical-align: top;
            width: 40px;
        }

        .activity
        {
            display: inline-block;

            strong
            {
                display: block;
            }

            em
            {
                display: block;
            }
        }
    }
}

.flash-message
{
    .alert
    {
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: none;
    }
}

.form-control
{
    border-radius: 0;
}

.game-project
{
    background-color: white;
    color: $gray-darker;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    min-height: 248px;
    padding: 4px;

    .btn
    {
        display: block;
    }
}

.img-thumbnail
{
    border-radius: 0;
    transition: background-color .6s ease, border-color .6s ease;
}

.label
{
    background-color: $app-primary;
    border-radius: 0;
}

.line-header
{
    position: relative;

    &::before
    {
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        top: 19px;
        transition: background-color .6s ease;
        width: 100%;
    }

    span
    {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        padding: 0 10px 0 0;
        position: relative;
        transition: background-color .6s ease, color .6s ease;
        z-index: 1;
    }
}

.modal
{
    color: #333;
}

.page-header
{
    border: none;
    margin: 0;
    padding: 0;

    h1
    {
        font-size: 36px;

        @media screen and (min-width: $screen-sm-min)
        {
            font-size: 48px;
        }
    }

    h2
    {
        font-size: 18px;

        @media screen and (min-width: $screen-sm-min)
        {
            font-size: 30px;
        }
    }
}

.video-container
{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    iframe, object, embed
    {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

.web-project
{
    p
    {
        font-size: 12px;
    }
}
